[submodule "nrepl.el"]
	path = nrepl.el
	url = git://github.com/kingtim/nrepl.el.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "hamlet-mode"]
	path = hamlet-mode
	url = git://github.com/lightquake/hamlet-mode.git
